body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: navy;
  color: white;
  margin: 0;
  padding: 5px;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

.sidebar {
  flex: 1 1 200px;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: auto;
  overflow: auto;
  font-size: 13px;
}

/* Sidebar links */
.sidebar a {
  display: flex;
  color: black;
  padding: 13px;
  text-decoration: none;
}

.sidebar h3 {
  display: flex;
  color: black;
  padding-left: 13px;
  text-align: center;
}

/* Active/current link */
.sidebar a.active {
  background-color: #7393b3;
  color: white;
}

/* Page content */
div.content {
  margin-left: 200px;
  margin-bottom: 50px;
  padding: 1px 16px;
  height: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}


  div.content,
  div.forecast-container,
  div.forecast-header {
    margin-left: 0;
    width: 100%;
    height: auto;
    /* display: flex; */
  }


}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* On screens that are less than 700px wide */
/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto; */
    /* position: relative; */
  /* }
  .sidebar a {
    float: left;
  }
  div.content,
  div.forecast-container,
  div.forecast-header {
    margin-left: 0;
    width: 100%;
    height: auto;
    display: flex;
  }
} */

/* On screens that are less than 400px */
/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */

.icon-image {
  height: 10%;
}

#subhead {
  margin: 10px 0 0 0px;
  text-align: center;
}

.search {
  margin: 5% 0 5% 0;
}

#search-box {
  text-align: center;
}

.search-line {
  font-size: 15px;
  margin: 13px;
}

#msg {
  margin: 5px;
  text-align: center;
}

#button-container{
  text-align: center;
  justify-content: center;
}

button {
  background-color: lightblue;
  color: black;
  padding: 5px;
  border: 0px;
  width: 60%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.forecast-container {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  font-size: 13px;;
}

.forecast {
  display: inline-block;
  margin: 1%;
  background-color: navy;
  color: white;
  padding: 20px;
}

.forecast-header {
  /* position: fixed; */
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 200px;
  color: black;
  padding: 1px 16px;
  height: auto;
}

.today {
  margin: 20px;
  border: 3px solid black;
}
